/* Ini adalah file css saya */
.attackontitans {
    color: salmon; 
    font-size: 22px;
    font-family: monospace;
    text-align: start;
    background-color: silver;
}
.fishy{color: seagreen;
font-size: 14px;
text-align: start;
